<h1>Bienvenidos a TV-SATURNO</h1>
<div class="row">
  <div class="col-md-4">
    <figure class="figure ">
      <img src="https://via.placeholder.com/400x300?text=TV-Saturn" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption">Imagen de la empresa.</figcaption>
    </figure>
  </div>


  <div class="col-md-8">
    En Tv-Saturno estamos comprometidos con nuestro trabajo, el cual realizamos con los mejores materiales y a un precio accesible.

  </div>
  <div class="col-md-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae blanditiis consequuntur eos eum facere facilis labore laboriosam, laborum natus, nulla quia quisquam ratione sed sit tempore ut vitae voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae blanditiis consequuntur eos eum facere facilis labore laboriosam, laborum natus, nulla quia quisquam ratione sed sit tempore ut vitae voluptas.
    <img src="https://via.placeholder.com/200x200" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="float: right">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis deleniti dignissimos dolores ducimus ea, esse, eum labore molestiae, numquam possimus quibusdam quo sit soluta totam. Hic necessitatibus nihil officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum, debitis dignissimos eaque ex omnis quae? Amet, aperiam architecto, beatae consequuntur cupiditate dignissimos eveniet, perferendis quam quas repudiandae tempora voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum, debitis dignissimos eaque ex omnis quae? Amet, aperiam architecto, beatae consequuntur cupiditate dignissimos eveniet, perferendis quam quas repudiandae tempora voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum, debitis dignissimos eaque ex omnis quae? Amet, aperiam architecto, beatae consequuntur cupiditate dignissimos eveniet, perferendis quam quas repudiandae tempora voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum, debitis dignissimos eaque ex omnis quae? Amet, aperiam architecto, beatae consequuntur cupiditate dignissimos eveniet, perferendis quam quas repudiandae tempora voluptas.
  </div>
</div>


