<h1>Bienvenidos a TV-SATURNO</h1>
<div class="row">
  <div class="col-md-4">
    <figure class="figure ">
      <img src="https://via.placeholder.com/400x300?text=TV-Saturn" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption">Imagen de la empresa.</figcaption>
    </figure>
  </div>


  <div class="col-md-8 lead">
    En TV-Saturno contamos con xx años de experiencia en el reparación de aparatos eléctronicos

    <p>
      <ul>
        <li>Televiciones CRT</li>
        <li>Televiciones LED</li>
        <li>Televiciones Plasma</li>
        <li>Estereos</li>
        <li>Bocinas</li>

      </ul>
    </p>
    <p>

    </p>


  </div>

</div>


